---
BasedOnStyle: Chromium
ColumnLimit:  100
IndentWidth: 4
AlignEscapedNewlines: DontAlign
AlignAfterOpenBracket: BlockIndent
InsertBraces: true
SortIncludes: true
IncludeBlocks: Preserve
BinPackArguments: false
BinPackParameters: false
BreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000
MaxEmptyLinesToKeep: 1
